{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <!-- Подключаем стили Bootstrap через CDN -->
    <link rel="stylesheet" href="{% static 'fabric_inventory/css/bootstrap.min.css' %}">
    <link href="{% static 'fabric_inventory/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'fabric_inventory/css/bootstrap-icons.min.css' %}" rel="stylesheet">
    <!-- Подключение JS библиотек -->
    <script src="{% static 'fabric_inventory/js/min/konva.min.js' %}"></script>
    <script src="{% static 'fabric_inventory/js/min/all.min.js' %}"></script>
    <script src="{% static 'fabric_inventory/js/min/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'fabric_inventory/js/min/jquery-3.6.0.min.js' %}"></script>
    <!-- Подключение CSS файла -->
    <link rel="stylesheet" href="{% static 'fabric_inventory/css/canvas.css' %}">

    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
          <div class="container">
            <img src="/static/fabric_inventory/images/logo_mir_remney.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top me-2">
            <a class="navbar-brand" href="{% url 'fabric_inventory:home'%}">Мир ремней</a>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'fabric_inventory:home'%}">Все ткани</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.url_name == 'add_fabric' %}active{% endif %}" href="{% url 'fabric_inventory:add_fabric' %}">Добавить ткань</a>
                </li>
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser or request.user.role == 'admin' %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Панель администратора</a>
                  </li>
                  {% endif %}
                {% endif %}
              </ul>
            <ul class="navbar-nav mt-0 mb-lg-0">
              {% if user.is_authenticated %}
                <li class="nav-item mt-1">
                  <a class="nav-link" href="#">{{ user.username }}</a>
                </li>
                <li class="nav-item mt-1">
                  <form method="post" action="{% url 'fabric_inventory:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Выход</button>
                  </form>
                </li>
              {% else %}
                <li class="nav-item mt-1">
                  <form method="post" action="{% url 'fabric_inventory:login' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Войти</button>
                  </form>
                </li>
              {% endif %}
            </ul>
            </div>
          </div>
    </nav>
    
    <!-- Основное содержимое -->
      {% block content %}  <!-- Блок для индивидуального содержимого страниц -->
      {% endblock %}
    {% include 'fabric_inventory/rules.html' %}
    
</body>
</html>



