<button type="button" id="selectTool" class="btn">
    <i class="fas fa-mouse-pointer"></i>
</button>
<button type="button" id="drawPolylineTool" class="btn">
    <i class="fas fa-draw-polygon"></i>
</button>
<button type="button" id="calculateArea" class="btn">
    <i class="fas fa-calculator"></i>
</button>
<button type="submit" id="saveData" class="btn">
    <i class="fas fa-save"></i>
</button>
<button type="button" id="addLineLabel" class="btn">
    <i class="fas fa-tag"></i>
</button>
{% comment %} <button type="button" id="addLine" class="btn">
    <i class="fas fa-minus"></i>
</button>
<button type="button" id="addSquare" class="btn">
    <i class="fas fa-square"></i>
</button> {% endcomment %}
  
<!-- Ползунок для размера сетки -->
<div class="d-flex align-items-center me-3" style="white-space: nowrap;" id="input_grid">
    <label for="gridSize" class="form-label mb-0"> <span style="white-space: nowrap;">Размер сетки:</span></label>
    <input type="range" id="gridSize" min="20" max="50" step="5" value="50" class="form-range ms-2">
</div>