{% extends "fabric_inventory/base.html" %}
{% load static %}

{% block title %}Редактировать Ткань{% endblock %}

{% block content %}
<main class='container mt-2'>
    <form id="fabricEditForm" method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <!-- Тип ткани -->
                <div class="col-md-3">
                    <label for="fabric_type" class="form-label">Тип ткани:</label>
                    <select name="fabric_type" id="fabric_type" class="form-select">
                        {% for choice in form.fabric_type.field.choices %}
                            {% if choice.1 != "---------" %}
                                <option value="{{ choice.0 }}" {% if choice.0 == fabric.fabric_type.id %} selected="selected" {% endif %}>
                                    {{ choice.1 }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- Вид ткани -->
                <div class="col-md-3">
                    <label for="fabric_type" class="form-label">Вид ткани:</label>
                    <select name="fabric_view" id="fabric_view" class="form-select">
                        {% for choice in form.fabric_view.field.choices %}
                        {% if choice.1 != "---------" %}
                            <option value="{{ choice.0 }}" {% if choice.0 == fabric.fabric_view.id %} selected="selected" {% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div> 
                <!-- Статус -->
                <div class="col-md-3">
                    <label for="status" class="form-label">Статус:</label>
                    <select name="status" id="status" class="form-select">
                        {% for choice in form.status.field.choices %}
                        {% if choice.1 != "---------" %}
                            <option value="{{ choice.0 }}" {% if choice.0 == fabric.status %} selected="selected" {% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- Площадь -->
                <div class="col-md-3">
                    <label for="area_kek" class="form-label">Площадь (кв. м.):</label>
                    <input type="number" name="area" id="area_form" class="form-control" step="any" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="toolbar d-flex justify-content-start mb-3 mt-2">
                        {% include 'fabric_inventory/edit_menu.html' %}
                    </div>
                </div>
                <div class="col-md-3 mt-3">
                    <button type="submit" class="btn btn-secondary h-50">Сохранить</button>
                </div>
            </div>
            
            <input type="hidden" name="edit_image" id="editImage" value="">
            <input type="hidden" id="canvasData" name="canvas_data" value="">
        {{ fabric.canvas_data|json_script:"canvas-data" }}
        {{ fabric.area|json_script:"area-data" }}
        {{ fabric.fabric_view_id|json_script:"viewid-data" }}
        {{ fabric.status|json_script:"status-data" }}
        <div class="mb-3 mt-3">
            <canvas id="canvas" width="1300" height="750" style="border: 1px solid black;"></canvas>
        </div>
    </form>
</main>

<script src="{% static 'fabric_inventory/js/edit_load.js' %}"> </script>

<script>
    // Задержка подгрузки второго скрипта
    setTimeout(function() {
        var script = document.createElement('script');
        script.src = "{% static 'fabric_inventory/js/edit_drawing.js' %}";
        document.body.appendChild(script);
    }, 500); // Задержка в 3 секунды
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}