{% extends "fabric_inventory/base.html"%}
{% load static %}

{% block title%} Редактор чертежей с расчетом площади {% endblock%}


{% block content %}
<main class='container-fluid mt-2'>
  <!-- Модальное окно с сохранением результатов -->
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Уведомление</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Вы уверены, что хотите сохранить изображение?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-success" id='confirmAction'>Сохранить</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Modal для предупреждения -->
  <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="warningModalLabel">Внимание!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          Размеры заданы некорректно (исключите буквы и символы из названий или укажите размеры для каждой стороны).
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ОК</button>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="toolbar d-flex justify-content-start mb-3">
    {% include 'fabric_inventory/edit_menu.html' %}
    <div class="d-flex align-items-center mb-0" style="white-space: nowrap;" id="area">
      <label class="form-label mb-0">Площадь:</label>
      <input type="text" class="form-control " id="inputArea" placeholder="Площадь">
      <label class="form-label mb-0 ms-2">кв. м.</label>
    </div>
    <div class="d-flex align-items-center mb-0 ms-0" style="white-space: nowrap;" id="area">
      <label class="form-label mb-0">Тип материала:</label>
      <select class="form-select" id="categorySelect" name="category">
        {% for type in fabric_types %}
            <option value="{{ type.id }}">{{ type.name }}</option>
        {% endfor %}
      </select> 
    </div>
    <div class="d-flex align-items-center mb-0 ms-0" style="white-space: nowrap;" id="area">
      <label class="form-label mb-0">Вид материала:</label>
      <select class="form-select" id="viewSelect" name="category">
        {% for view in fabric_views %}
            <option value="{{ view.id }}">{{ view.name }}</option>
        {% endfor %}
      </select> 
    </div>
  </div>
</div>
<div class="container">
<canvas id="canvas" width="1300" height="750" style="border: 1px solid black;"></canvas>
</div>
{% comment %} <div id="data-container" data-fabric-data="{{ fabric_data|json_script:'fabricData' }}"></div> {% endcomment %}
{{ fabric_data|json_script:'fabricData' }}
</main>

<script>

</script>
<!-- Подключение Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

<!-- Подключение JS файла -->
<script src="{% static 'fabric_inventory/js/canvas.js' %}"></script>
{% endblock%}
