{% extends "fabric_inventory/base.html" %}
{% load static %}

{% block title %}Редактировать Ткань{% endblock %}

{% block content %}
<main class='container mt-2'>
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <!-- Тип ткани -->
                <div class="col-md-3">
                    <label for="fabric_type" class="form-label">Тип ткани:</label>
                    <select name="fabric_type" id="fabric_type" class="form-select">
                        {% for choice in form.fabric_type.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == fabric.fabric_type.id %} selected="selected" {% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Вид ткани -->
                <div class="col-md-3">
                    <label for="fabric_type" class="form-label">Вид ткани:</label>
                    <select name="fabric_view" id="fabric_view" class="form-select">
                        {% for choice in form.fabric_view.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == fabric.fabric_view.id %} selected="selected" {% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div> 
                <!-- Статус -->
                <div class="col-md-3">
                    <label for="status" class="form-label">Статус:</label>
                    <select name="status" id="status" class="form-select">
                        {% for choice in form.status.field.choices %}
                            <option value="{{ choice.0 }}" {% if choice.0 == fabric.status %} selected="selected" {% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Площадь -->
                <div class="col-md-3">
                    <label for="area" class="form-label">Площадь (кв. м.):</label>
                    <input type="number" name="area" id="area" class="form-control" value="{{ fabric.area }}">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-secondary h-100">Сохранить</button>
                </div>
            </div>
        {% comment %} <input type="hidden" id="canvasData" name="canvas_data" value="{{ fabric.image.url }}"> {% endcomment %}
        <input type="hidden" id="canvasData" name="canvas_data" value="{{ fabric.canvas_data }}">

        <div class="mb-3 mt-3">
            <canvas id="canvas" width="1300" height="750" style="border: 1px solid black;"></canvas>
        </div>

        
    </form>
</main>

<script>
    let canvas = new fabric.Canvas('canvas');
    // Получение размеров canvas
    let canvasWidth = canvas.getWidth();
    let canvasHeight = canvas.getHeight();
    {% comment %} canvas.clear(); {% endcomment %}
    // Восстановление canvas из JSON
    function loadCanvas() {
        const canvasData = document.getElementById('canvasData');
        console.log("kek", canvasData);
        if (canvasData) {
            //canvas.loadFromJSON(JSON.parse(canvasData), canvas.renderAll.bind(canvas));
            canvas.loadFromJSON(JSON.parse(canvasData), canvas.renderAll.bind(canvas), function(o, object) {
               console.log('Loaded object:', object);
               setTimeout(() => {
                    canvas.renderAll(); // Обновляем отображение после загрузки
                }, 50); // Задержка в 50 мс
               });
            canvas.renderAll();
            //alert("Drawing loaded!");
        } else {
            alert("No saved drawing found.");
        }
        setTimeout(100);
        canvas.renderAll();
    }

    function renderCanvas() {
        setTimeout(100);
        canvas.renderAll();
    }


    let canvasDataElement = document.getElementById('canvasData');
    console.log('img', canvasDataElement);
    fabric.Image.fromURL(canvasDataElement.value, function(img) {
        img.scaleToWidth(canvasWidth);
        img.scaleToHeight(canvasHeight);
        img.set({
            left: 0,
            top: 0,
            selectable: false,   // Отключаем возможность выбора
            hasControls: false,  // Отключаем контролы для изменения размеров
            hasBorders: false,   // Отключаем рамки при выборе
            lockMovementX: true, // Блокируем движение по оси X
            lockMovementY: true, // Блокируем движение по оси Y
            lockScalingX: true,  // Блокируем масштабирование по оси X
            lockScalingY: true,  // Блокируем масштабирование по оси Y
            lockRotation: true   // Блокируем вращение
        });
    
        // Добавление изображения на canvas
        canvas.add(img);
    
        // Перерисовка canvas
        canvas.renderAll();
    })
    {% comment %} let canvasData = canvasDataElement.value; {% endcomment %}
    {% comment %} console.log('canvasDataElement', canvasData); {% endcomment %}
    //if (canvasData) {
      //  console.log('canvasDataElement', canvasData);
      //  canvas.loadFromJSON(JSON.stringify(canvasData), canvas.renderAll.bind(canvas));//function() {
            // Перерисовываем холст после загрузки всех объектов
            //canvas.renderAll();
            //console.log('Объекты загружены:');
        // function(o, object) {
        //    console.log('Объект загружен:', object);
        //});
    //}

    // Сохранение данных canvas в скрытое поле перед отправкой формы
    document.querySelector('form').addEventListener('submit', function() {
        canvasDataElement.value = JSON.stringify(canvas.toJSON());
    });
</script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const fabricTypeSelect = document.querySelector('[name="fabric_type"]');
        const fabricViewSelect = document.querySelector('[name="fabric_view"]');

        fabricTypeSelect.addEventListener('change', function () {
            const fabricTypeId = this.value;
            if (fabricTypeId) {
                // Отправляем AJAX запрос для получения соответствующих видов ткани
                fetch(`/get_fabric_views/${fabricTypeId}/`)
                    .then(response => response.json())
                    .then(data => {
                        fabricViewSelect.innerHTML = ''; // Очистить существующие опции
                        data.forEach(function (fabricView) {
                            const option = document.createElement('option');
                            option.value = fabricView.id;
                            option.text = fabricView.name;
                            fabricViewSelect.appendChild(option);
                        });
                    });
            }
        });

        // Если страница уже была загружена с выбранным типом ткани
        if (fabricTypeSelect.value) {
            fabricTypeSelect.dispatchEvent(new Event('change'));
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
{% endblock %}