{% extends "fabric_inventory/base.html"%}
{% load static %}

{% block title%} Редактор чертежей с расчетом площади {% endblock%}


{% block content %}
  <!-- Модальное окно с сохранением результатов -->
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Уведомление</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Вы уверены, что хотите сохранить изображение?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-secondary" id='confirmAction'>Сохранить</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap Modal для предупреждения -->
  <div class="modal fade" id="warningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="warningModalLabel">Внимание!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          Размеры заданы некорректно (исключите буквы и символы из названий или укажите размеры для каждой стороны).
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ОК</button>
        </div>
      </div>
    </div>
  </div>

  <div class="toolbar d-flex justify-content-start mb-3">
    <button id="selectTool" class="btn">
        <i class="fas fa-mouse-pointer"></i>
    </button>
    <button id="drawPolylineTool" class="btn">
        <i class="fas fa-draw-polygon"></i>
    </button>
    <button id="calculateArea" class="btn">
        <i class="fas fa-calculator"></i>
    </button>
    <button id="saveData" class="btn">
        <i class="fas fa-save"></i>
    </button>
    <button id="addLineLabel" class="btn">
        <i class="fas fa-tag"></i>
    </button>
    <!-- Ползунок для размера сетки -->
    <div class="d-flex align-items-center me-3" style="white-space: nowrap;" id="input_grid">
      <label for="gridSize" class="form-label mb-0">Размер сетки:</label>
      <input type="range" id="gridSize" min="20" max="50" step="5" value="50" class="form-range ms-2">
      {% comment %} <label for="areaRes" id="areaResult" class="form-label ms-3 mb-2">Площадь:</label> {% endcomment %}
      {% comment %} <span id="gridSizeLabel" class="ms-2">50 px</span> {% endcomment %}
    </div>
    <div class="d-flex align-items-center mb-0" style="white-space: nowrap;" id="area">
      <label class="form-label mb-0">Площадь:</label>
      <input type="text" class="form-control w-50" id="inputArea" placeholder="Площадь">
      <label class="form-label mb-0 ms-2">кв. м.</label>
    </div>
    <div class="d-flex align-items-center mb-0 ms-0" style="white-space: nowrap;" id="area">
      <label class="form-label mb-0">Тип материала:</label>
      <select class="form-select" id="categorySelect" name="category">
        {% for type in fabric_types %}
            <option value="{{ type.id }}">{{ type.name }}</option>
        {% endfor %}
      </select> 
    </div>
  </div>
<canvas id="canvas" width="1300" height="750" style="border: 1px solid black;"></canvas>


<!-- Подключение Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

<!-- Подключение JS файла -->
<script src="{% static 'fabric_inventory/js/canvas.js' %}"></script>
{% endblock%}
<!-- <body>-->
<!--  <h1>Добро пожаловать на мой сайт!</h1>-->
<!--  &lt;!&ndash; Полотно для рисования (увеличено) &ndash;&gt;-->
<!--  <canvas id="canvas" width="1200" height="800"></canvas>-->

<!--  &lt;!&ndash; Контейнер для кнопок и вывода &ndash;&gt;-->
<!--  <div id="controls">-->
<!--    <label for="gridSize">Размер сетки:</label>-->
<!--    <input type="range" id="gridSize" min="5" max="50" step="5" value="50">-->
<!--    <span id="gridSizeLabel">50 px</span>-->
<!--    <button id="selectTool" class="tool-button">Выделение</button>-->
<!--    <button id="drawPolylineTool" class="tool-button">Рисование ломаной</button>-->
<!--    <button id="calculateArea">Рассчитать площадь</button>-->
<!--    <button id="saveData">Сохранить данные</button>-->
<!--    <button id="addLineLabel">Добавить подпись</button>-->
<!--    <div id="areaResult"></div>-->
<!--  </div>-->
<!--    -->
<!--  &lt;!&ndash; Подключение JS файла &ndash;&gt;-->
<!--  <script src="{% static 'fabric_inventory/js/canvas.js' %}"></script>-->
<!--</body>-->
<!--</html>-->