{% extends "fabric_inventory/base.html"%}
{% load static %}
{% block title %} {{fabrics.title}} {% endblock %}
{% block content %}
{% load spurl %}

<main class="container-float mt-3">
    
    <div class="row mx-2">
        
        <!-- Фильтры справа -->
        <aside class="col-md-2 mb-4">
            <form id="filterForm" method="get" action="{% url 'fabric_inventory:home' %}">
                <div class="mb-3">
                    {{ form.status.label_tag }}
                    {{ form.status }}
                </div>
                
                <div class="mb-3" id="type-container">
                    <h5>{{ form.fabric_types.label }}</h5>
                    {% for checkbox in form.fabric_types %}
                        <div class="form-check">
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                        </div>
                    {% endfor %}
                </div>
                
                <div class="mb-3" id="view-container">
                    <h5>{{ form.fabric_views.label }}</h5>
                    {% for type, views in views_by_type.items %}
                        <small class="small fw-bold text-muted">{{ type }}</small>
                        {% for view in views %}
                            <div class="form-check">
                                <input type="checkbox" name="fabric_views" value="{{ view.id }}" class="form-check-input" 
                                       {% if view.id|stringformat:"s" in selected_fabric_views %}checked{% endif %}>
                                <label class="form-check-label">{{ view.name }}</label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-secondary">Применить</button>
                <div class="mb-2 mt-2">
                    <a href="{% url 'fabric_inventory:home' %}" class="btn btn-outline-secondary">Сбросить фильтры</a>
                </div>
                <label for="per_page">Количество карточек на странице:</label>
                <select name="per_page" id="per_page" onchange="this.form.submit()" class="form-select">
                    <option value="2" {% if per_page == '2' %}selected{% endif %}>2</option>
                    <option value="40" {% if per_page == '40' %}selected{% endif %}>40</option>
                    <option value="60" {% if per_page == '60' %}selected{% endif %}>60</option>
                </select>
            </form>

            <!-- Выбор количества карточек на странице -->
            {% comment %} <form method="GET" class="mt-3">
                <label for="per_page">Количество карточек на странице:</label>
                <select name="per_page" id="per_page" onchange="this.form.submit()" class="form-select">
                    <option value="20" {% if per_page == '20' %}selected{% endif %}>20</option>
                    <option value="40" {% if per_page == '40' %}selected{% endif %}>40</option>
                    <option value="60" {% if per_page == '60' %}selected{% endif %}>60</option>
                </select>
            </form> {% endcomment %}
        </aside>
        <div class="col-md-9 my-4">
            <!-- Карточки с тканями -->
            {% if fabrics %}
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for fabric in fabrics %}
                    <!-- Модальное окно с удалением ткани-->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="kek" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="kek">Уведомление</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Вы уверены, что хотите удалить ткань?
                            </div>
                            <div class="modal-footer">
                                <form id="deleteForm" method="POST" action="{% url 'fabric_inventory:fabric_delete' fabric.id %}">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Закрыть</button>
                                </form>
                                <button type="button" class="btn btn-danger" id="delete">Удалить</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-secondary mb-0" style="max-width: 100%;">
                            <img src="{{ fabric.image.url }}?{{ request.session.image_update_time }}" class="card-img-top border border-secondary-subtle" alt="{{ fabric.user.username}}">
                            <div class="card-body {% if request.user.is_authenticated %} 
                            {% if request.user.is_superuser or request.user.role == 'admin' or request.user.role == 'store'%} mb-0 pb-0 {% endif %} {% endif %}">
                            <h5 class="card-title">Ткань {{ fabric.id }} </h5>
                            <p class="card-text">Добавлено: {{ fabric.user.username }}</p>
                            <p class="card-text">Тип материала:<span class="card-text fw-bold"> {{ fabric.fabric_type.name }}</span></p> 
                            <p class="card-text">Вид материала:<span class="card-text fw-bold"> {{ fabric.fabric_view.name }}</span></p> 
                            <p class="card-text">Площадь: {{ fabric.area }}</p>
                            <p class="card-text">Статус: {% if fabric.status == 'available' %}
                                                                <span class="badge text-bg-success">В наличии</span>
                                                            {% else %}
                                                                <span class="badge text-bg-danger">Использована </span>
                                                            {% endif %}</p>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser or request.user.role == 'admin' or request.user.role == 'store'%}
                                    <p class="card-text d-inline-block justify-content-between">
                                        <small class="text-body-secondary mt-1 d-inline-block me-5">Последнее изменение: {{fabric.date_updated}} </small>
                                            <form method="POST" class="d-inline-block ms-4" action="{% url 'fabric_inventory:fabric_delete' fabric.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger" id="deleteBtn">Удалить</button>
                                            </form>
                                            <form method="POST" class="d-inline-block ms-3" action="{% url 'fabric_inventory:fabric_edit' fabric.id %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-secondary" id="editBtn">Редактировать</button>
                                            </form>
                                    </p>
                                
                                    
                                {% endif %}
                            {% else %}
                            <p class="card-text"><small class="text-body-secondary">Последнее изменение: {{fabric.date_updated}} </small></p>
                            {% endif %}
                            
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <!-- Сообщение, если ничего не найдено -->
                <div class="alert alert-warning text-center" role="alert">
                    Нет результатов по выбранным параметрам.
                </div>
            {% endif %}

            {% if page_obj.paginator.num_pages > 1 %}
            <!-- Пагинация -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-3">
                    <!-- Кнопка перехода на первую страницу -->
                    {% if page_obj.number > 5 %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="{% spurl query=request.GET set_query='page=1' %}">
                                Первая
                            </a>
                        </li>
                    {% endif %}
                    <!-- Кнопка предыдущей страницы -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="{% spurl query=request.GET set_query='page={{ page_obj.previous_page_number }}' %}">
                                Предыдущая
                            </a>
                        </li>
                    {% endif %}
                    <!-- Отображение максимум 8 страниц вокруг текущей -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <!-- Текущая страница -->
                            <li class="page-item active">
                                <a class="page-link text-white bg-secondary border-secondary">{{ page_num }}</a>
                            </li>
                        {% elif page_num >= page_obj.number|add:-4 and page_num <= page_obj.number|add:3 %}
                            <!-- Показать страницы в диапазоне от текущей страницы - 4 до текущей страницы + 3 -->
                            <li class="page-item">
                                <a class="page-link text-secondary" href="{% spurl query=request.GET set_query='page={{ page_num }}' %}">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Кнопка следующей страницы -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="{% spurl query=request.GET set_query='page={{ page_obj.next_page_number }}' %}">
                                Следующая
                            </a>
                        </li>
                    {% endif %}

                    <!-- Кнопка перехода на последнюю страницу -->
                    {% if page_obj.number < page_obj.paginator.num_pages|add:-4 %}
                        <li class="page-item">
                            <a class="page-link text-secondary" href="{% spurl query=request.GET set_query='page={{ page_obj.paginator.num_pages }}' %}">
                                Последняя
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}     
        </div>
    </div>
</main>

<script>
    {% comment %} const canvas = new fabric.Canvas('canvas-{{ fabric.id }}');
    function loadCanvasAsImage(jsonData) {
        canvas.loadFromJSON(jsonData, function() {
            // Делаем все объекты на холсте невыбираемыми
            canvas.forEachObject(obj => obj.selectable = false);
            
            // Обновляем холст
            canvas.renderAll();
            // Очищаем canvas, чтобы избежать возможности редактирования
            canvas.clear();
        });
    } {% endcomment %}
    document.addEventListener("DOMContentLoaded", function() {
        const typeCheckboxes = document.querySelectorAll(".fabric-type");
        const viewContainer = document.getElementById("view-container");
        
        function updateFabricViews(selectedTypes) {
            fetch("{% url 'fabric_inventory:get_fabric_views_ajax' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({ fabric_types: selectedTypes })
            })
            .then(response => response.json())
            .then(data => {
                // Сохраняем выбранные fabric_views
                const selectedViews = Array.from(document.querySelectorAll("input[name='fabric_views']:checked")).map(input => input.value);
    
                // Очищаем предыдущие виды ткани и добавляем заголовок
                viewContainer.innerHTML = "<h5>{{ form.fabric_views.label }}</h5>";
    
                // Добавляем виды ткани по типам
                for (const type in data.views) {
                    const typeLabel = document.createElement("small");
                    typeLabel.classList.add("small", "fw-bold", "text-muted");
                    typeLabel.textContent = type; // Используем переменную `type`
                    viewContainer.appendChild(typeLabel);
    
                    // Добавляем каждый вид ткани как чекбокс
                    data.views[type].forEach(view => { // Предполагается, что `data.views[type]` - массив
                        const checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.name = "fabric_views";
                        checkbox.value = view.id;
                        checkbox.classList.add("form-check-input");
    
                        // Отмечаем чекбокс, если он был выбран до обновления
                        if (selectedViews.includes(view.id.toString())) {
                            checkbox.checked = true;
                        }
    
                        const label = document.createElement("label");
                        label.classList.add("form-check-label");
                        label.appendChild(checkbox);
                        label.append(" " + view.name);
    
                        const div = document.createElement("div");
                        div.classList.add("form-check");
                        div.appendChild(label);
    
                        viewContainer.appendChild(div);
                    });
                }
            })
            .catch(error => console.error("Ошибка:", error));
        }
    
        typeCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function() {
                const selectedTypes = Array.from(typeCheckboxes)
                                            .filter(cb => cb.checked)
                                            .map(cb => cb.value);
                updateFabricViews(selectedTypes);
            });
        });
    });
</script>

<!-- Подключение JS файла -->
<script src="{% static 'fabric_inventory/js/home.js' %}" defer></script>
{% endblock%}

